@media only screen and (max-device-width: 915px) {

      .head-title-1 {
            font-size: 2.5rem;
            font-weight: 700;
            padding-left: 5px;
            margin-bottom: 20px;
      }

      .head-title-2-1 {
            font-size: 8rem;
            font-weight: 700;
            margin-top: 20px;
      }

      .head-title-2-2 {
            font-size: 11rem;
            font-weight: 700;
            top: -40px;
            position: relative;
      }

      .head-title-3-frame {
            display: block;
            /* justify-content: space-between; */
      }

      .head-title-3 {
            font-size: 4rem;
            font-weight: 300;
            padding-left: 5px;
            letter-spacing: -2px;
            margin-bottom: 0px;
      }

      .download-btn {
            font-size: 2rem;
      }

      .hire-btn {
            font-size: 3rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 600;
      }

      .About-me {
            line-height: 2rem;
            /* padding-right: 5%; */
            letter-spacing: 2px;
      }

      .contact-row-long {
            width: 100%;
            /* max-height: 150px; */
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.2rem;
      }

      .show-more-frame {
            padding: 2rem 2rem 2rem 2rem;
            background-image: linear-gradient(to top, #e2e2e2, #e2e2e230);
            width: 100%;
            justify-content: center;
            display: flex;
            /* position: relative;
            top: -8rem; */
      }

      .show-more {
            font-size: 3rem;
            color: #06b9bf;
            text-decoration: underline;
      }

      .description {
            display: none;
            position: relative;
            top: -1.5rem;
      }

      .img-frm {
            justify-content: center;
            display: flex;
      }

      .img-frm img {
            width: 50%;
      }

      .contact-info {
            width: unset;
            margin: 1rem 0px 3rem 0px;
            font-size: 2rem;
      }

      .skill-info {
            width: unset;
            margin: 1rem 0px 1rem 0px;
      }

      .general-info {
            /* padding: 1rem 0px; */
            display: block;
            width: unset;
      }


      .phone-font-larger {
            font-size: 2.2rem;
      }

      .phone-font-larger-2 {
            font-size: 1.8rem;
      }

      .contact-logo img {
            width: 36px;
            margin-right: 1em;
      }

      .contact-row {
            margin-bottom: 1rem;
            max-height: unset;
            font-size: 1.5rem;
      }

      .general-info-card {
            max-height: unset;
      }

      .text-board-foot span {
            font-size: 2rem;
      }
}